# Ignore everything
**

# Unignore essential files and directories
# Dockerfile and manifests
!Dockerfile
!docker-compose.yml
!pyproject.toml
!pdm.lock
!README.md
!requirements.txt

# Application source code
!app/**

# Migrations or scripts
!alembic/**

# Tests
!tests/**

# CI/CD and helper scripts
!ci/**

# Static assets
!static/**
